.canales{
   background-color:black;
   color: white;
    height: 500px;
    width: 190px;
    
}
.salto{
    font-size: 10px;
   display: block;
    
}

#div1{
    float:left;
    border: 1px solid navy;
    }
#div2{
    float:left;
    border: 1px solid black;
    background-size: #757477;
    /*position:absolute; top:0; left:0;*/
    }
   #input{
       width: 400px;
       margin: auto;
       background-color: lawngreen;
   }
    #chatbox {
        float:left;
        text-align:left;
        margin:0 auto;
        margin-bottom:25px;
        padding:10px;
        background-color: black;
        color: white;
        height:480px;
        width:430px;
        border:1px solid black;
        overflow:auto; } 

       #img{
        width: 10px; 
        width:10px; 
            
        }
        li{list-style-type: none;
        
        }
        /*
       .imagen{
        width: 10px; 
        width:10px; 
        list-style-image: url("img/numeral.jpg");
        list-style-position: inherit;      
       } */