.canales{
   background-color:black;
   color: white;
    height: 500px;
    width: 150px;
    
}


#div1{
    float:left;
    border: 1px solid navy;
    }
#div2{
    float:left;
    border: 1px solid black;
    background-size: #757477;
    /*position:absolute; top:0; left:0;*/
    }
    li{
        background-image: none;
    }
   #input{
       width: 400px;
       margin: auto;
       background-color: lawngreen;
   }
    #chatbox {
        float:left;
        text-align:left;
        margin:0 auto;
        margin-bottom:25px;
        padding:10px;
        background-color: black;
        color: white;
        height:500px;
        width:430px;
        border:1px solid black;
        overflow:auto; } 

       .tamaño{
            width: 10px; 
            width:10px;
            
        }
        li{list-style-type: none;
        
        }