.canales{
   background-color:black;
   color: white;
    height: 500px;
    width: 190px;
    float:left;
    border: 1px solid navy;
}
.salto{
    font-size: 10px;
   display: block;
    
}
   .input{
       width: 400px;
       margin: auto;
       background-color: lawngreen;
   }
    .chatbox {
        float:left;
        text-align:left;
        background-color: black;
        color: white;
        height:500px;
        width:430px;
        border:1px solid black;
        overflow:auto;
    } 

        li{
            list-style-type: none;        
        }
        
       .imagen{
        list-style-image: url("img/prueba.jpg");      
              
       } 